.oxsn_search_modal_toggle_in {
	display: inline-block;
	cursor: hand;
	cursor: pointer;
	-webkit-transition: all 300ms ease-in-out;
	-moz-transition: all 300ms ease-in-out;
	-ms-transition: all 300ms ease-in-out;
	-o-transition: all 300ms ease-in-out;
	transition: all 300ms ease-in-out;
}

.oxsn_search_modal_toggle_in:hover {
	opacity: 0.7;
}

.oxsn_search_modal {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 9999;
	display: none;
}

.oxsn_search_modal:after {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: #000;
	opacity: 0.9;
	z-index: -1;
}

.oxsn_search_modal .oxsn_search_modal_table {
	height: 100%;
	color: white;
	padding: 5% 18%;
	display: table;
	width: 100%;
}

.oxsn_search_modal .oxsn_search_modal_table_cell {
	display: table-cell;
	vertical-align: middle;
}

.oxsn_search_modal .oxsn_search_modal_toggle_out {
	position: absolute;
	top: 48px;
	right: 48px;
	font-size: 48px;
	line-height: normal;
	color: white;
	z-index: 1;
	cursor: hand;
	cursor: pointer;
	-webkit-transition: all 300ms ease-in-out;
	-moz-transition: all 300ms ease-in-out;
	-ms-transition: all 300ms ease-in-out;
	-o-transition: all 300ms ease-in-out;
	transition: all 300ms ease-in-out;
}

.oxsn_search_modal .oxsn_search_modal_toggle_out:hover {
	opacity: 0.7;
}

.oxsn_search_modal .oxsn_search_modal_search_form .oxsn_search_modal_search_form_input_group {
	position: relative;
	display: table;
	border-collapse: separate;
}

.oxsn_search_modal .oxsn_search_modal_search_form .oxsn_search_modal_search_form_input_group input[type=text] {
    margin: 0;
	font: inherit;
	color: inherit;
	line-height: normal;
	font-family: inherit;
	font-size: inherit;
	line-height: inherit;
	outline: none;
	display: block;
	width: 100%;
	-webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
	-o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
	transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
	position: relative;
	z-index: 2;
	float: left;
	width: 100%;
	margin-bottom: 0;
	display: table-cell;
	border-top-right-radius: 0;
	border-bottom-right-radius: 0;
    height: 80px;
    padding: 0;
    font-size: 42px;
    line-height: normal;
    color: #fff;
    background-color: transparent;
    background-image: none;
    border: 0;
    border-bottom: 3px solid #f7f7f7;
    border-radius: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.oxsn_search_modal .oxsn_search_modal_search_form .oxsn_search_modal_search_form_input_group .oxsn_search_modal_search_form_input_group_btn {
	display: table-cell;
	width: 1%;
	outline: none;
	white-space: nowrap;
	vertical-align: middle;
	position: relative;
	font-size: 0;
	white-space: nowrap;
}

.oxsn_search_modal .oxsn_search_modal_search_form .oxsn_search_modal_search_form_input_group .oxsn_search_modal_search_form_input_group_btn .oxsn_search_modal_search_form_btn {
    margin: 0;
	font: inherit;
	overflow: visible;
	outline: none;
	text-transform: none;
	-webkit-appearance: button;
	cursor: pointer;
	font-family: inherit;
	display: inline-block;
	margin-bottom: 0;
	text-align: center;
	white-space: nowrap;
	vertical-align: middle;
	-ms-touch-action: manipulation;
	touch-action: manipulation;
	cursor: hand;
	cursor: pointer;
	-webkit-transition: all 300ms ease-in-out;
	-moz-transition: all 300ms ease-in-out;
	-ms-transition: all 300ms ease-in-out;
	-o-transition: all 300ms ease-in-out;
	transition: all 300ms ease-in-out;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	position: relative;
	border-top-left-radius: 0;
	border-bottom-left-radius: 0;
	z-index: 2;
	margin-left: -1px;
    height: 80px;
    padding: 0;
    font-size: 42px;
    line-height: normal;
    color: #fff;
    background-color: transparent;
    background-image: none;
    border: 0;
    border-bottom: 3px solid #f7f7f7;
    border-radius: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.oxsn_search_modal .oxsn_search_modal_search_form .oxsn_search_modal_search_form_input_group .oxsn_search_modal_search_form_input_group_btn .oxsn_search_modal_search_form_btn:hover {
	opacity: 0.7;
}

.oxsn_search_modal .oxsn_search_modal_search_form .oxsn_search_modal_search_form_input_group .oxsn_search_modal_search_form_input_group_btn .oxsn_search_modal_search_form_btn .oxsn_search_modal_search_form_search_icon {
    -webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	display: inline-block;
    vertical-align: middle;
    position: relative;
    font-style: normal;
    text-align: left;
    text-indent: -9999px;
    direction: ltr;
    border-radius: 50%;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    color: #fff;
    width: 21px;
    height: 21px;
    margin: 3px 0px 5px 4px;
    border: 3px solid;
}

.oxsn_search_modal .oxsn_search_modal_search_form .oxsn_search_modal_search_form_input_group .oxsn_search_modal_search_form_input_group_btn .oxsn_search_modal_search_form_btn .oxsn_search_modal_search_form_search_icon:before {
	content: '';
    pointer-events: none;
    box-shadow: inset 0 0 0 30px;
    border-radius: 0 0 1px 1px;
    position: absolute;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
	width: 3px;
    height: 11px;
    top: 18px;
}

.oxsn_search_modal .oxsn_search_modal_search_form .oxsn_search_modal_search_form_input_group .oxsn_search_modal_search_form_input_group_btn .oxsn_search_modal_search_form_btn .oxsn_search_modal_search_form_search_icon:after {
	content: '';
    pointer-events: none;
}